@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

*{ /* el simbolo * hace referencia a todos los elementos */
    margin: 0;
    padding: 0;
}

body{    /* Es para sacarle los margenes que vienen por defecto */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.encabezado{
    height: 100vh;
    width: 100%; /* Vh es la unidad de medida para que el usuario vea el 100% de la pantalla */
    background-color: #F7DE82;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    color: #0C4DA3;
    font-weight: 500;
}

.navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.contenedor-info{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    

}

.contenedor-parrafo{
    display: flex;
    width: 30%;
    align-items: flex-start;
    flex-direction: column;
}

.titulo-info{
    font-weight: 300;
    width: 100%;
}

.img-info{
    width: 100%;

}

.atrapar{
    background-color: #0B4DA2;
    height: 50px;
    width: 45%;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding: 12px;
    margin-top: 20px;
}

.seccion-azul{
    width: 100%;
    height: 100vh;
    background-color: #0B4DA2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-azul{
    color: #F7DE82;
    font-size: 80px;
    font-weight: 800;
}

.p-azul{
    color: white;
    font-size: 27px;
    font-weight: 300;
}

.container-icons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 200px;

}

.cotainer-icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;

}

.cotainer-icon-info p{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
}

.li-nav:hover{
    color: white;
    cursor: pointer;
    
}

.atrapar:hover{
    color: blue;
    cursor: pointer; 
    background-color: white;  
}

@media (min-width:1024px) and (max-width: 1440px)  {
    .atrapar{
        font-size: 0.8rem;
    }
    .img-pikachu{
        width: 40%;
        height: 60%;
    }
}

@media (max-width: 1023px) {
    .atrapar{
        font-size: 1rem;
        width: 100%;
    }
    .img-pikachu{
        width: 30%;
    }

    .titulo-info{
        font-size: 1.3rem;
    }
    
}